minutas_pipedrive.json
{
  "name": "Minutas de Reunión → Pipedrive",
  "flow": [
    {
      "id": 1,
      "module": "google-email:triggerWatchNewEmails",
      "version": 4,
      "parameters": {
        "__IMTCONN__": 8153044,
        "filterType": "gmailSearch",
        "format": "full",
        "includeHtmlBody": true,
        "limit": 10,
        "markSeen": false,
        "q": "(to:agenda.virtual@nubceo.com OR cc:agenda.virtual@nubceo.com) (\"resumen\" OR \"minuta\" OR \"notas\") -invitación -invite -canceled -accepted -.ics"
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": {
          "parameters": {
            "__IMTCONN__": {
              "data": { "scoped": "true", "connection": "google-email" },
              "label": "My Gmail connection"
            },
            "filterType": { "label": "Gmail filter" },
            "format": { "label": "Full content" }
          }
        }
      }
    },
    {
      "id": 2,
      "module": "gemini-ai:simpleTextPrompt",
      "version": 1,
      "parameters": {},
      "mapper": {
        "model": "gemini-2.5-flash",
        "textPrompt": "Actúa como un experto en ventas B2B. A continuación te paso una minuta de una reunión. Tu tarea es analizar el texto y extraer la información solicitada completando esta estructura. Si algún dato no se menciona, escribe \"No especificado\".\n\nEstructura:\n- Fecha:\n- Participantes:\n- Cantidad de Sucursales:\n- Medios de Pagos:\n- Cantidad de transacciones mensuales:\n- ERP:\n- Punto de Venta:\n- Software para conciliar:\n- Terminales integradas:\n- Departamento de Sistemas:\n- Proceso de Control de las Tarjetas:\n- Principales Necesidades identificadas:\n- Puntos que destacó el cliente sobre Nubceo:\n- Beneficios que Nubceo le traería al cliente:\n- Pasos a seguir acordados con el cliente:\n\nMinuta de reunión:\n{{ifempty(1.fullTextBody; 1.htmlBody)}}",
        "systemPrompt": ""
      },
      "metadata": {
        "designer": { "x": 300, "y": 0 }
      }
    },
    {
      "id": 3,
      "module": "pipedrive:searchPersons",
      "version": 2,
      "parameters": {
        "__IMTCONN__": 8258824
      },
      "mapper": {
        "term": "{{1.fromEmail}}",
        "fields": "email",
        "exact_match": true
      },
      "metadata": {
        "designer": { "x": 600, "y": 0 },
        "restore": {
          "parameters": {
            "__IMTCONN__": {
              "data": { "scoped": "true", "connection": "pipedrive-auth" },
              "label": "My Pipedrive OAuth connection"
            }
          },
          "expect": {
            "fields": { "mode": "chose" },
            "exact_match": { "mode": "chose" }
          }
        }
      }
    },
    {
      "id": 4,
      "module": "pipedrive:listDealsV2",
      "version": 2,
      "parameters": {
        "__IMTCONN__": 8258824
      },
      "mapper": {
        "person_id": "{{3.id}}",
        "status": "open",
        "limit": 10
      },
      "metadata": {
        "designer": { "x": 900, "y": 0 },
        "restore": {
          "parameters": {
            "__IMTCONN__": {
              "data": { "scoped": "true", "connection": "pipedrive-auth" },
              "label": "My Pipedrive OAuth connection"
            }
          },
          "expect": {
            "status": { "mode": "chose" }
          }
        }
      }
    },
    {
      "id": 5,
      "module": "pipedrive:CreateNote",
      "version": 2,
      "parameters": {
        "__IMTCONN__": 8258834
      },
      "mapper": {
        "content": "{{2.result}}",
        "deal_id": "{{4.id}}",
        "pinned_to_deal_flag": true
      },
      "metadata": {
        "designer": { "x": 1200, "y": 0 },
        "restore": {
          "parameters": {
            "__IMTCONN__": {
              "data": { "scoped": "true", "connection": "pipedrive-auth" },
              "label": "My Pipedrive OAuth connection"
            }
          },
          "expect": {
            "pinned_to_deal_flag": { "mode": "chose" }
          }
        }
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": { "orphans": [] },
    "zone": "us2.make.com"
  }
}
