minutas_pipedrive.json
{
  "name": "Minutas de Reunión → Pipedrive",
  "flow": [
    {
      "id": 1,
      "module": "gmail:TriggerNewEmail",
      "version": 1,
      "parameters": {
        "folder": "INBOX",
        "criteria": "(to:agenda.virtual@nubceo.com OR cc:agenda.virtual@nubceo.com) (\"resumen\" OR \"minuta\" OR \"notas\") -invitación -invite -canceled -accepted -.ics",
        "maxResults": 1,
        "markSeen": false
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "restore": {
          "parameters": {
            "folder": {
              "label": "INBOX"
            }
          }
        }
      }
    },
    {
      "id": 2,
      "module": "google-gemini:generateContent",
      "version": 1,
      "parameters": {
        "model": "gemini-1.5-flash-latest"
      },
      "mapper": {
        "contents": [
          {
            "role": "user",
            "parts": [
              {
                "text": "Actúa como un experto en ventas B2B. A continuación te paso una minuta de una reunión. Tu tarea es analizar el texto y extraer la información solicitada completando esta estructura. Si algún dato no se menciona, escribe \"No especificado\".\n\nEstructura:\n- Fecha:\n- Participantes:\n- Cantidad de Sucursales:\n- Medios de Pagos:\n- Cantidad de transacciones mensuales:\n- ERP:\n- Punto de Venta:\n- Software para conciliar:\n- Terminales integradas:\n- Departamento de Sistemas:\n- Proceso de Control de las Tarjetas:\n- Principales Necesidades identificadas:\n- Puntos que destacó el cliente sobre Nubceo:\n- Beneficios que Nubceo le traería al cliente:\n- Pasos a seguir acordados con el cliente:\n\nMinuta de reunión:\n{{ifempty(1.body.text; 1.body.html)}}"
              }
            ]
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        },
        "restore": {
          "parameters": {
            "model": {
              "label": "Gemini 1.5 Flash"
            }
          }
        }
      }
    },
    {
      "id": 3,
      "module": "pipedrive:searchPersons",
      "version": 1,
      "parameters": {},
      "mapper": {
        "term": "{{1.from[1].email}}",
        "fields": "email",
        "exact_match": true
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        },
        "restore": {
          "mapper": {
            "fields": {
              "label": "Email"
            }
          }
        }
      }
    },
    {
      "id": 4,
      "module": "pipedrive:listPersonDeals",
      "version": 1,
      "parameters": {},
      "mapper": {
        "id": "{{3.items[1].item.id}}",
        "status": "open"
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0
        },
        "restore": {
          "mapper": {
            "status": {
              "label": "Open"
            }
          }
        }
      }
    },
    {
      "id": 5,
      "module": "pipedrive:createNote",
      "version": 1,
      "parameters": {},
      "mapper": {
        "content": "{{2.candidates[1].content.parts[1].text}}",
        "deal_id": "{{4.items[1].id}}",
        "person_id": "{{3.items[1].item.id}}",
        "pinned_to_deal_flag": true
      },
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 0
        }
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu1.make.com"
  }
}
